.edit-form__submit-button {
  margin: 48px 0 0 0;
  padding: 0;
  height: 50px;
  max-width: 358px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  justify-items: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  border-radius: 2px;
  border: none;
  transition: opacity 0.5s;
  opacity: 1;
  cursor: pointer;

}

.edit-form__submit-button:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .edit-form__submit-button {
    margin: 45px 0 0 0;
    font-size: 14px;
    line-height: 1.21 ;
    max-width: 238px;
    height: 46px;
  }
}
