.edit-form__close-button {
  margin: 0;
  padding: 0;
  position: absolute;
  background-image: url(../../../images/Close\ Icon.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 32px;
  width: 32px;
  right: -40px;
  top: -40px;
  background-color: transparent;
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: opacity .5s;
}

.edit-form__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .edit-form__close-button {
    height: 20px;
    width: 20px;
    right: 0;
  }
}
